% General
ofType = ":"
beforeParams = "("
afterParams = ")"

% Function Type
curried = "True"
lambda = "\\"
lambdaArrow = "->" 

% Pi Type
pi_representation = "arrow" 

% Equality
equality_import =
equality_symbol = 

% Records
record_keyword = "record"
record_beforeDecls = "where" 
record_constructor = "constructor"
